// Input

label {
    display: block;
    margin-bottom: 10px;

    &:hover {
        cursor: pointer;
    }
}

input,
textarea,
select {
    padding: 10px;
    font-size: $base-font-size;
    line-height: $base-line-height;
    appearance: none;
    border: 0;
    padding: 13px 16px 8px 16px;
    border-radius: 0;
    background-color: $light;

    &:hover, &:focus {
        outline: none;
    }
}

select {
    background: url(../img/icons/chevron-down.svg) 95% center no-repeat;
    padding: 10px 40px 10px 10px;
}

textarea {
	
}

.input--combined {
    width: 100%;

    @include media-query(min, $mob-start) {
        display: flex;
    }

    input {
        width: 100%;
        margin-bottom: 10px;

        @include media-query(min, $mob-start) {
            flex-grow: 0;
            flex-basis: 100%;
            border-radius: $base-radius 0 0 $base-radius;
            margin-bottom: 0;
        }
    }

    button {
        @include media-query(min, $mob-start) {
            flex-shrink: 0;
            border-radius: 0 $base-radius $base-radius 0;
        }
    }
}