.dbo--information {
	.dbo__title {
		background: $light;
		padding: 60px 0 55px;
		margin: 0;

		h1 {
			padding: 0;
			margin: 0;
		}
	}	

	.dbo__container {
		max-width: 800px;
		margin: 0 auto;
	}

	h3 {
		margin: 0 0 60px 0;
		padding: 0;
	}

	.dbo__divider {
		position: relative;
		padding: 60px 0;

		img {
			position: relative;
			width: 100px;
			padding: 0 20px;
			background: $light;
			z-index: 2;
		}

		&::after {
			content: '';
			width: 250px;
			top: 50%;
			left: 50%;
			margin-left: -125px;
			margin-top: -2px;
			position: absolute;
			height: 1px;
			background: #000;
			opacity: 0.1;
		}
	}
}

.dbo--information__schedule {
	background-color: $light;
	padding: 0 0 80px 0;

	.content {
		background: #fff;
		padding: 60px;
		max-width: 800px;
		margin: 0 auto;
	}

	ul {
		list-style-type: none;
		max-width: 540px;
		margin: 0 auto;
	}

	li {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin: 10px 0;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			height: 1px;
			background: #000;
			opacity: 0.1;
		}
	}

	.left {
		position: relative;
	    padding: 0 20px 0 0;
	    background: #fff;
	    z-index: 2;
	}

	.right {
		position: relative;
		font-family: 'Brandon';
	    font-size: 14px;
	    padding: 0 0 0 20px;
	    background: #fff;
	    z-index: 2;
	}

	@include media-query(max, $lap-start) {
		.content {
			padding: 60px 30px;
		}
	}
}

.dbo--information__hotels {
	background-color: $light;
	padding: 0;
	text-align: center;

	.hotels__wrap {
		display: flex;
	}

	.hotel {
		width: 33.33%;
		flex: 1 0 auto;
	}

	h4 {
		letter-spacing: 0.05em;
		margin: 0;
		padding: 10px 0 0 0;
	}

	img {
		width: 150px;
		border-radius: 200px;
		margin: 0 0 20px 0;
	}

	p {
		margin: 0;
		font-family: 'Brandon';
	    font-size: 14px;
	}

	@include media-query(max, $lap-start) {
		.hotels__wrap {
			display: block;
		}

		.hotel {
			width: 100%;
			padding: 20px 0;
			border-bottom: 1px solid rgba(#000, 0.1);

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}

		a {
			width: 100%;
			display: flex;
    		align-items: center;
		}

		img {
			margin: 0;
			width: 100px;
		}

		.hotel__info {
			flex: 1 1 auto;
		}
	}
}

.dbo--information__gifts {
	background-color: $light;
	padding: 0 0 50px 0;
	text-align: center;

	h3 {
		margin: 0 0 40px 0;
	}

	.dbo__container {
		max-width: 1100px;
	}

	img {
		margin: 0 0 20px 0;
	}

	p {
		max-width: 500px;
		margin: 0 auto 30px auto;
	}
}

.dbo--information__faq {
	background-color: $light;
	padding: 0 0 60px 0;
	text-align: center;
	margin: 0 0 300px 0;

	.content {
		background: #fff;
		padding: 60px;
		max-width: 800px;
		margin: 0 auto -200px auto;
		box-shadow: 0 20px 85px rgba(#000, 0.06);
	}

	h3 {
		margin: 0 0 20px 0;
	}

	h4 {
		line-height: 28px;
		letter-spacing: 0.05em;
		margin: 0;
		padding: 0;
	}

	p {
		max-width: 500px;
		margin: 0 auto;
		font-family: 'Brandon';
	    font-size: 14px;
	    letter-spacing: 0.1em;
	}

	@include media-query(max, $lap-start) {
		.content {
			background: #fff;
			padding: 60px 30px;
		}
	}
}
