@font-face {
	font-family: 'Madina';
	src: url('../../assets/fonts/MadinaScript.eot');
	src: url('../../assets/fonts/MadinaScript.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/MadinaScript.woff') format('woff'),
		url('../../assets/fonts/MadinaScript.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bodoni';
	src: url('../../assets/fonts/BodoniMTStd-Book.eot');
	src: url('../../assets/fonts/BodoniMTStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/BodoniMTStd-Book.woff') format('woff'),
		url('../../assets/fonts/BodoniMTStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bodoni';
	src: url('../../assets/fonts/BodoniMTStd-Bold.eot');
	src: url('../../assets/fonts/BodoniMTStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/BodoniMTStd-Bold.woff') format('woff'),
		url('../../assets/fonts/BodoniMTStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../../assets/fonts/BrandonText-Regular.woff2') format('woff2'),
        url('../../assets/fonts/BrandonText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../../assets/fonts/BrandonText-Bold.woff2') format('woff2'),
        url('../../assets/fonts/BrandonText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
