.dbo--footer__links {
	background-color: $light;
	text-align: center;
	padding: 60px 0;

	.nav {
		justify-content: center;
	}

	li {
		a {
			color: #626066;
		    padding: 0;
		    margin: 0 30px;
		}
	}

	@include media-query(max, $lap-start) {
		.nav {
			display: block;
		}

		li {
			padding: 10px 0;
		}
	}
}